name: Verificador de Hash Aleatorio

# Se ejecuta cuando haces push al repositorio
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout del código
      uses: actions/checkout@v3

    - name: Configurar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

   
    - name: Ejecutar búsqueda de Hash
      run: python work1.py